body {
  margin: 0rem;
  min-height: 100vh;
  font-family: "Libre Baskerville", serif;
}
main {
  min-height: 80vh;
}
.header-block {
  background-color: rgb(172, 107, 107);
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  width: 100vw;
}
.add-products {
  color: white;
  cursor: pointer;
}
.add-products:hover {
  text-decoration: underline;
}

.cart {
  cursor: pointer;
}
.home {
  cursor: pointer;
}
.navigations ul {
  display: flex;
  flex-direction: column;
  color: white;
  cursor: pointer;
  list-style-type: none;
}
.navigations ul :hover {
  text-decoration: underline;
}

.display-all {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(170, 129, 129);
}
.display-all a {
  text-decoration: none;
  color: black;
}

.display-single {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.display-single img {
  height: 15rem;
  width: 15rem;
  margin-bottom: 1rem;
  object-fit: contain;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.category {
  border: 1px solid gray;
  padding: 0.5rem;
  background-color: rgb(170, 129, 129);
  border-radius: 0.5rem;
}
.title {
  width: 20rem;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem;
}

.dollor {
  font-size: small;
  padding-bottom: 0.1rem;
}
.price {
  display: flex;
  margin-top: -1rem;
  font-size: larger;
  align-items: center;
  gap: 0.2rem;
}
/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(170, 129, 129);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Each product */
.eachProduct img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
  margin-bottom: 1rem;
}
.eachProduct div {
  width: 40rem;
  align-items: center;
  margin-bottom: 1rem;
}
.btn-secondary {
  pointer-events: none;
}
/* cart product*/
.container {
  max-width: 30rem;
}
.product {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: 1px solid rgb(199, 193, 193);
  padding: 1rem;
  box-shadow: 1rem 1rem 4rem rgb(199, 156, 156);
  gap: 2rem;
}
.product .cart-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.product img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.discription {
  padding: 1rem;
  font-size: 0.7rem;
}
.discription p {
  margin-bottom: 0rem;
}
.Category span {
  color: orange;
  font-weight: bold;
}
.cost span {
  color: rgb(10, 10, 63);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
}

.quantity button {
  font-size: 1rem;
  width: 1.7rem;
  border-radius: 50%;
  margin: 0.5rem;
  border: 1px solid gray;
}
.quantity span {
  border: 1px solid rgb(168, 165, 165);
  padding-left: 1rem;
  padding-right: 1rem;
}
.quantity button:hover {
  background-color: gray;
}
.product button {
  margin-top: 1rem;
}
.prompt-box {
  border: 1px solid pink;
  background-color: black;
  height: 10rem;
}
.prompt {
  border: 1px solid black;
  padding: 2rem;
  width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(161, 78, 78);
  color: white;
}
.prompt div {
  display: flex;
  justify-content: space-around;
}

/* add products */
.product-form {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-form form {
  gap: 2rem;
}

/* Footer */
.Footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(172, 107, 107);
}
.footer-navigations {
  display: flex;
  gap: 1rem;
}
.footer-navigations p {
  color: white;
  cursor: pointer;
}
.footer-navigations p:hover {
  text-decoration: underline;
}
.copyRights {
  color: white;
}

@media (max-width: 500px) {
  .header-block {
    font-size: 0.5rem;
  }
  .Footer {
    font-size: 0.5rem;
  }
  .form-control {
    font-size: 0.5rem;
  }
  .title {
    width: 15rem;
  }

  .eachProduct img {
    height: 15rem;
    width: 15rem;
  }

  .display-single {
    width: 17rem;
  }
  .eachProduct div {
    width: fit-content;
  }
  .cartContainer {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    width: 15rem;
  }
  .discription {
    text-align: center;
  }
}
